<%- include('./Layout/include/head.ejs')%>
    </head>

    <body>
        <%- include('./Layout/include/navaction.ejs')%>

            <h1>
                页面 走丢了.....
            </h1>
            <%- include('./Layout/include/end.ejs')%>