<main>
    {{#if hasProduct}}
    <div class="grid">
        {{#each products}}
        <article class="product-item  card">
            <header class="paoduct-title">
                <h1>{{this.title}}</h1>
            </header>
            <div class="card-image ">
                <img src="https://m.360buyimg.com/mobilecms/s750x750_jfs/t1/125477/21/7459/146321/5f153694E08c668d7/cbb3d4d622d99877.jpg!q80.dpg"
                    alt="">
            </div>
            <div class="card-content">
                <h2 class="product-price">$59</h2>
                <p class="product-description">一件网上流行的衣服</p>
                <div class="card-actions">
                    <button class="添加到购物车"></button>
                </div>
            </div>
        </article>
        {{/each}}
    </div>
    {{else}}
    <h1>没有更多了</h1>
    {{/if}}
</main>