<%- include('../Layout/include/head.ejs')%>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../Layout/include/navaction.ejs')%>

            <form method="post" action="/admin/api/add_product">
                <div class="product-wrapper">
                    标题:<input type="text" name="title">
                    价格:
                    <input type="text" name="price">
                    图片:
                    <input type="text" name="image">
                    <label>描述:</label>
                    <textarea name="description" id="" rows="5"></textarea>
                    <button type="submit">添加</button>
                </div>
            </form>
            <%- include('../Layout/include/end.ejs')%>