doctype html
html(lang="en")
   <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{pageTitle}</title>
    <link rel="stylesheet" href="/css/index.css">
    block  styles
</head>

    body 
        header.shop-header
            nav.shop-nav
                ul.shop-list 
                    li.shop-list-item
                        a(href="/",  class=(path!=='/'?'active':"")) 商店
                    li.shop-list-item 
                        a(href="/admin/add-product", class=(path!=='/admin/add_product'?'active':"")) 添加产品
    block content 